<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/adminPage.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/footer.css" />
</head>

<body>
  <%- include('../header02.ejs') %>
    <div class="user-container">
      <div class="container-background">
        <div class="user-list">
          <div class="title">
            <div>
              회원관리 <span>(총 회원 수 : <%=users.length%> 명)</span>
            </div>
          </div>
          <!-- 회원 정보 항목 -->
          <div class="info-item">
            <div class="user-info">가입 날짜</div>
            <div class="user-info">이메일</div>
            <div class="user-info">이름</div>
            <div class="user-info">권한</div>
            <div class="user-info">관리</div>
          </div>
          <!-- 회원 목록 -->
          <% users.forEach((users)=>{%>
            <div class="user row">
              <div class="user-info">
                <%=users.createdAt.toLocaleString('ko-KR')%>
              </div>
              <div class="user-info">
                <%=users.email%>
              </div>
              <div class="user-info">
                <%=users.name%>
              </div>
              <div class="user-info">
                <select>
                  <option value="일반사용자" selected>일반사용자</option>
                  <option value="관리자">관리자</option>
                </select>
              </div>
              <div class="user-info">
                <button onclick="membershipDelete()">회원정보 삭제</button>
              </div>
            </div>
            <%})%>
        </div>
      </div>
    </div>
    <!-- 네비바 -->
    <nav>
      <div class="adminProfileNav">
        <div class="adminPage">관리자페이지</div>
        <h1></h1>
        <ul class="list">
          <li>
            <a href="admin/order" class="orderManagement">주문 관리</a>
          </li>
          <li>
            <a href="/admin" class="menberManagement">회원 관리</a>
          </li>
          <li>
            <a href="admin/upload" class="addProduct">상품 등록 </a>
          </li>
        </ul>
      </div>
    </nav>
    <script>
      // 회원 삭제 기능
      function membershipDelete() {
        const rowRemove = document.querySelector(".row");
        rowRemove.remove();
      }
    </script>
</body>

</html>