<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/products.css"></link>
    <link rel="stylesheet" href="../css/header.css"></link>
    <link rel="stylesheet" href="../css/footer.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>

  <body>
    <%- include ('./header.ejs') %>
    <main>
      <h1> 카테고리 > <%=bookData[0].category%></h1>
      <section class="banner">
        <div class="swiper">
          <div class="swiper-wrapper">
            <!-- Slides -->
            <% let index= 0 %>
            <!-- 책 종류가 9개가 넘을 때마다 슬라이드가 생성됩니다. -->
            <% for(let i=0; i< Math.ceil(bookData.length/9); i++){%>
              <div class="swiper-slide">
                <!-- <div><%#index%></div> -->
                <!-- 다음 슬라이드는 이전 슬라이드에 있는 책 다음부터 9개(9개 미만일 경우 전체)의 책이 보이도록 합니다 -->
                <ul class="books">
                  <% bookData.slice(index,Math.min(index+9,bookData.length)).forEach((book)=>{%>
                    <li class="book">
                      <a href="/book/<%=book.bookNum%>">
                        <h4 class="category">
                          <%=book.category%>
                        </h4>
                        <div class="book-container">
                          <div class="book-img" style="background-image:url('')"></div>
                          <div class="book-info">
                            <div class="book__name">
                              <%=book.name%>
                            </div>
                            <div class="book__price">가격 : <%=book.price%>원</div>
                          </div>
                        </div>
                      </a>
                    </li>
                  <%})%>
                </ul>
                <!-- 슬라이드간 책 내용이 중복되지 않도록 9개씩 index를 증가시킵니다. -->
                <% index+=9%>
            </div>
            <%}%>
          </div>
        </div>
        <!-- 이동 버튼 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
      </section>
    </main>
    <%-include('footer.ejs') %>
    <script>
      //Focus된 책을 돋보이게 하기 위해 나머지 책을 blur 처리하였습니다.
      const books=document.querySelectorAll('.book')
      books.forEach((element)=>{
        //mouseover
        element.addEventListener('mouseover',(e)=>{
        for(let book of books){
          book.classList.add('blurred')
        }
        e.currentTarget.classList.remove('blurred')
        })
        //mouseleave
        element.addEventListener('mouseleave',(e)=>{
          for(let book of books){
          book.classList.remove('blurred')
        }
        })

        //카테고리별로 클래쓰를 추가하였습니다.
        const category = element.querySelector('.category')
        const categoryName = category.textContent.trim()

        categoryName === "프론트엔드" ? category.classList.add('front')
          : categoryName === "백엔드" ? category.classList.add('back')
            : categoryName === "CS지식" ? category.classList.add('cs')
              : null       
        }
      )

      //swiper 옵션들입니다.
      const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
      centeredSlides:true,

      autoplay: {
        delay: 10000,
        disableOnInteraction: false,
      },

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
        clickable:true,
      },   
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    </script>
  </body>

</html>